PORT=4000

# Option A: single connection string (takes priority if set)
DATABASE_URL=mysql://root@localhost:3306/webportfolio

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=1234
MYSQL_DATABASE=webportfolio

ALLOWED_ORIGINS=http://localhost:5173


DISCORD_WEBHOOK_URL=https://discordapp.com/api/webhooks/1517718886135627949/JeXyyWS12El98O0yiwCueTwtAA50lfVeLisqdPfDPRLVxhFsbl-0MWl-qnP2TxF5CNb1
